#layout-menu {  
    display: flex; /* 使用Flexbox布局 */  
    flex-direction: column; /* 垂直方向排列子元素 */  
    justify-content: center; /* 垂直居中子元素 */  
    align-items: center; /* 水平居中子元素（如果需要的话） */  
    height: 80px; /* 设定一个合适的高度 */  
    background-color: #102b6a; /* 浅蓝色背景 */  
    padding: 10px; /* 内边距 */  
    box-sizing: border-box; /* 确保padding不会增加块的宽度 */  
  }  
    
.menu-category {  
    display: flex; /* 水平方向排列子元素 */  
    justify-content: space-between; /* 子元素之间等距分布 */  
    width: 100%; /* 宽度设置为100% */  
}  
    
#right {  
    margin-left: auto; /* 将#right元素推到右侧 */  
}  
    
#first{
    margin-left: 15%;
}

.image-container {  
    position: relative;  
    /* width: 100%; 或者你需要的任何宽度   */
    /* padding-top: 50%; 这将创建一个高度为容器宽度50%的内部空间   */
    overflow: hidden; /* 防止图片溢出容器 */  
}  
  
.image-container img {  
    position: absolute;  
    top: 0;  
    right: 0;  
    bottom: 0;  
    left: 0;  
    width: 100%; /* 图片宽度设置为容器内部空间的100% */  
    height: auto; /* 保持图片的原始纵横比 */  
}

.menu-item a {  
    color: #feeeed; /* 链接文字颜色 */  
    text-decoration: none; /* 移除链接的下划线 */  
    padding: 5px; /* 链接的内边距 */  
    border-radius: 5px; /* 链接的圆角 */  
    transition: background-color 0.3s ease; /* 背景色变化的过渡效果 */  
    height: 55px;
    font-weight: 400;
}  
    
.menu-item a:hover {  
    background-color: #87CEEB; /* 鼠标悬停时的背景色 */  
    color: white; /* 鼠标悬停时的文字颜色 */  
}